.plan {
    margin-top: 80px
}

.plan__top {
    margin-top: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__title {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.plan__description {
    margin-top: 20px;
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 555px;
}

.plan__content {

    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.plan__card {
    padding: 79px 69px 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
}

.plan__card img {
    max-width: 100px;
}

.plan__card:hover {
    border-radius: 10px;
    border: 2px solid #F53838;
    background: #FFF;
}

.plan__title-sub {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

}

.plan__list {
    color: #4F5665;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    list-style: none;
    gap: 10px;
    padding: 0%;
}

.plan__item {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.plan__btn_bottom {
    display: flex;
    flex-direction: column;



}

.plan__title-sub {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.plan__span {
    color: #4F5665;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.plan__btn {
    padding: 13px 69px;
    color: #F53838;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: none;
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    border-radius: 50px;
    border: 2px solid #F53838;
}

.plan__btn:hover {
    border-radius: 50px;
    background: #F53838;
}